-#= form_for(@provider) do |f|
-#- if @provider.errors.any?
-##error_explanation
  -#%h2
    -#= pluralize(@provider.errors.count, "error")
    -#prohibited this provider from being saved:
  -#%ul
    -#- @provider.errors.full_messages.each do |msg|
    -#%li
      -#= msg
-#.field
  -#= f.label :name
  -#%br
  -#= f.text_field :name
-#.field
  -#= f.label :cnpj
  -#%br
  -#= f.text_field :cnpj
-#.field
  -#= f.label :address
  -#%br
  -#= f.text_field :address
-#.field
  -#= f.label :city
  -#%br
  -#= f.text_field :city
-#.field
  -#= f.label :phone
  -#%br
  -#= f.text_field :phone
-#.actions
  -#= f.submit
-#= debug params
= semantic_form_for @provider do |f|
  = f.inputs do

    %pre
      %table
        %tbody
          %tr
            %td
              Nome
            %td
              = f.input :name, :input_html => { :size => "40" }, :label => false
          %tr
            %td
              CNPJ
            %td
              = f.input :cnpj, :input_html => { :size => "40" }, :label => false
          %tr
            %td
              Estado
            %td
              = f.input :state_id, 
                :as => :select, :collection => State.all, 
                :label => false,
                :input_html => { :name => "state_id",
                                 :class => 'update_cities_select'}
          %tr
            %td
              Cidade
            %td
              - city_col = @provider.new_record? ? [] : City.where(:state_id => @provider.city.state_id)
              = f.input :city_id,
                :as => :select, :collection => city_col, 
                :prompt => "Selecione o estado",  
                :label => false 
          %tr
            %td
              Endereço
            %td
              = f.input :address, :input_html => { :size => "40" }, :label => false
          %tr
            %td
              Telefone
            %td
              = f.input :phone, :input_html => { :size => "40" }, :label => false

  = render :partial => 'layouts/form_buttons', :locals => { :what => @provider.new_record? ? 'Cadastrar' : 'Atualizar',
    :who => 'fornecedores',
    :where => providers_path }
