%p#notice
  - if !notice.nil?
    %p Fornecedor cadastrado com sucesso, confira se os dados estão corretos.
%p
  %b
    Nome:
  = @provider.name
%p
  %b
    Cnpj:
  = @provider.cnpj
%p
  %b
    Endereço:
  = @provider.address
%p
  %b
    Cidade:
  = @provider.city
%p
  %b
    Telefone:
  = @provider.phone
= link_to 'Editar dados', edit_provider_path(@provider)
|
= link_to 'Continuar', providers_path
