%p#notice
  = notice
%p
  %b
    Name:
  = @provider.name
%p
  %b
    Cnpj:
  = @provider.cnpj
%p
  %b
    Address:
  = @provider.address
%p
  %b
    City:
  = @provider.city
%p
  %b
    Phone:
  = @provider.phone
= link_to 'Edit', edit_provider_path(@provider)
|
= link_to 'Back', providers_path
