%h1 Relatório de vendas
%pre
  %table
    %tr
      %td Usuário
      %td Data de venda
      %td Quantidade de produtos vendidos
      %td Total
      %td Nota fiscal
    - @sells.each do |sell|
      %tr
        %td= sell.user.name
        %td= sell.created_at
        %td= sell.products.count
        %td= sell.total.to_s
        %td= link_to "Ver", sell
= link_to "Gerar PDF" ,report_sell_path(:format => :pdf)
