%h1 Report#user
%table
  %tr
    %td Nome
    %td Email
    %td Telefone
    %td Endereço
    %td Rg
    %td CPF
    %td Quantidade de vendas  
  - @report.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= user.phone
      %td= user.address
      %td= user.rg
      %td= user.cpf
      %td= user.sells.count
      
      
      
