= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| 
  %table
    %tbody
      %tr
        %th{:align => "center", :colspan => "2"} Efetue seu Login.
      %tr
        %td Login
        %td
          = f.email_field :email
      %tr
        %td Senha
        %td
          = f.password_field :password
          %br/
          = f.check_box :remember_me \
          = f.label "Lembrar senha?"
          = link_to "Esqueci minha senha!", new_password_path(resource_name)

  %p{:align => "center"}
    %input{:type => "reset", :value => "Limpar"}>/
    \&nbsp;&nbsp;&nbsp;
    %input{:name => "OKBTN", :type => "submit", :value => "OK"}
