= semantic_form_for @product, :validate => true do |f|
  = f.inputs do
    %pre
      %table
        %tbody
          %tr
            %td
              Nome
            %td
              = f.input :name, :input_html => { :size => "40" }, :label => false
          %tr
            %td
              Código
            %td
              = f.input :code, :input_html => { :size => "40" }, :label => false
          %tr
            %td
              Fornecedor
            %td
              = f.input :provider, :as => :select, :label => false
          
              = f.fields_for :privider do |builder| 
                = render "provider/form", :f => builder 
              = link_to_add_fields "Add Question", f, :providers
          %tr
            %td
              Preço
            %td
              = f.input :price, :input_html => { :size => "40" }, :label => false
          %tr
            %td
              Quantidade
            %td
              = f.input :amount, :input_html => { :size => "40" }, :label => false
          %tr
            %td
              Laboratório
            %td
              = f.input :laboratory, :input_html => { :size => "40" }, :label => false

  = render :partial => 'layouts/form_buttons', :locals => { :what => @product.new_record? ? 'Cadastrar' : 'Atualizar',
    :who => 'produtos',
    :where => products_path }
