%p#notice
  - if !notice.nil?
    %p Produto cadastrado com sucesso, confira se os dados estão corretos.
%p
  %b
    Nome:
  = @product.name
%p
  %b
    Código:
  = @product.code
%p
  %b
    Fornecedor:
  = @product.provider.name
%p
  %b
    Preço:
  = @product.price
%p
  %b
    Quantidade:
  = @product.amount
%p
  %b
    Laboratório:
  = @product.laboratory
= link_to 'Editar dados', edit_product_path(@product)
|
= link_to 'Continuar', products_path
