= semantic_form_for @sell do |f| 
  = f.inputs do
    = f.input :products, :as => :check_boxes, :collection => Product.all
    = f.input :products, "data-pre" => @sell.products.map(&:attributes).to_json

  = f.buttons do 
    = f.commit_button 
