.header
  %p.logo
    = link_to root_path do
      = image_tag "logo.png", :alt => "PharmaCC"
      PharmaCC
    Sistema de gerenciamento de farmácias
  .header-menu
    %ul.menu
      %li.page_item
        = link_to root_path do
          %span
            %span
              Início
      %li.page_item
        %a{ :href => "#" }
          %span
            %span
              Gerenciar
        %ul
          %li
            - if can? :read, User
              = link_to 'Usuários', users_path
          %li
            - if can? :read, Product
              = link_to 'Produtos', products_path
          %li
            - if can? :read, Provider
              = link_to 'Fornecedores', providers_path
      %li.page_item
        %a{ :href => "#" }
          %span
            %span
              Listar
        %ul
          %li
            %a{ :href => "#" }
              Relatórios Produtos
          %li
            %a{ :href => "#" }
              Relatórios Fornecedores
          %li
            %a{ :href => "#" }
              Relatórios Usuários
      %li.page_item
        = link_to static_pages_help_path do 
          %span
            %span
              Ajuda
      %li.page_item
        = link_to logout_path do
          %span
            %span
              Sair

