!!!
%html
  %head
    %title
      PharmaCC | Sistema de gerenciamento de farmácias
    = stylesheet_link_tag    "application", "token-input"
    = javascript_include_tag "application", "jquery.tokeninput"
    = csrf_meta_tags
  %body
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
    = render 'layouts/header'
    .content
      .main{ :align => "center" }
        = yield
    = render 'layouts/footer'
